In [10]:
import pandas as pd

df = pd.read_csv("fake_courses.csv")

In [11]:
def sort_courses():
    
    print("Please choose to sort by one of the following:")
    key_word = input("Course Number, Name, Avg. Semester Grade, Pass Rate, Professor, Professor Rating, or Format")
    
    if key_word == "Course Number":
        co_num_df = df.sort_values(by='Course_#')
        display(co_num_df)
    elif key_word == "Name":
        name_df = df.sort_values(by='Name')
        display(name_df)
    elif key_word == "Avg. Semester Grade":
        grade_df = df.sort_values(by='Average_Semester_Grade')
        display(grade_df)
    elif key_word == "Pass Rate":
        pass_df = df.sort_values(by='Pass_Rate')
        display(pass_df)
    elif key_word == "Professor":
        prof_df = df.sort_values(by='Professor')
        display(prof_df)
    elif key_word == "Professor Rating":
        prof_rate_df = df.sort_values(by='Professor_Rating')
        display(prof_rate_df)
    elif key_word == "Format":
        form_df = df.sort_values(by='Format')
        display(form_df)

In [12]:
def search_courses():
    
    print("Please choose to search one of the following:")
    key_word = input("Course Number, Name, Avg. Semester Grade, Pass Rate, Professor, or Format")
    search_term = input("Now, enter your search criteria:")
    
    if key_word == "Course Number":
        co_num_df = df[df['Course_#'] == int(search_term)]
        display(co_num_df)
    elif key_word == "Name":
        name_df = df[df['Name'] == search_term]
        display(name_df)
    elif key_word == "Avg. Semester Grade":
        grade_df = df[df['Average_Semester_Grade'] == int(search_term)]
        display(grade_df)
    elif key_word == "Pass Rate":
        pass_df = df[df['Pass_Rate'] == int(search_term)]
        display(pass_df)
    elif key_word == "Professor":
        prof_df = df[df['Professor'] == search_term]
        display(prof_df)
    elif key_word == "Format":
        form_df = df[df['Format'] == search_term]
        display(form_df)

In [13]:
def function_select(option):
                
        if option == "Sort":
            sort_courses()
        elif option == "Search":
            search_courses()
        else:
            print("Invalid Option")

In [14]:
option = input("Would you like to sort or search?")
function_select(option)

Would you like to sort or search? Sort

Please choose to sort by one of the following:

Course Number, Name, Avg. Semester Grade, Pass Rate, Professor, Professor Rating, or Format Avg. Semester Grade

,Course_#,Name,Average_Semester_Grade,Pass_Rate,Professor,Professor_Rating,Format
5,326,Object-Oriented Programming for Information Sc...,80,85,Dustin,89,Blended
2,311,Information Organization,85,83,Byers,95,Online
4,314,Statistics for Information Science,85,92,Brown,90,In-Person
3,311,Information Organization,87,90,Hawkins,97,Blended
1,126,Introduction to Programming for Information Sc...,90,84,Praveen,100,Online
0,201,Introduction to Information Science,95,87,Rogers,100,Online

In [15]:
option = input("Would you like to sort or search?")
function_select(option)

Would you like to sort or search? Search

Please choose to search one of the following:

Course Number, Name, Avg. Semester Grade, Pass Rate, Professor, or Format Format
Now, enter your search criteria: Online

,Course_#,Name,Average_Semester_Grade,Pass_Rate,Professor,Professor_Rating,Format
0,201,Introduction to Information Science,95,87,Rogers,100,Online
1,126,Introduction to Programming for Information Sc...,90,84,Praveen,100,Online
2,311,Information Organization,85,83,Byers,95,Online